footer{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    /* background-color: var(--); */
    height: 100px;
    font-size: 27px;
    border-top: 1px solid var(--cambridge-blue);
    backdrop-filter: blur(20px);
}
footer > *{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}