header {
  display: flex;
  flex-direction: column;
  /* min-height: fit-content; */
  height:100vh;
  /* background-color: antiquewhite; */
}


nav.navigation {
  height: fit-content;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(0, 0, 0); */
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0px 30px;
  border-bottom: 1px solid var(--border-primary);
  font-size: 18px;
  margin-bottom: 20px;
  /* position: relative; */
}
/* nav.navigation::before{
position: absolute;
content: "";
width: 10px;
height: 10px;
left: 0;
top: 0;
border-radius: inherit;
width: 100%;
height: 100%;
z-index: 0;
background-color: rgba(48, 118, 179, 0.274);
} */
.navigation:nth-child(1){
    font-weight: 800;
}
nav ul {
  white-space: nowrap;
  list-style-type: none;
}
nav ul li {
  display: inline;
  padding-right: 32px;
}
nav ul li a {
  text-decoration: none;
}
.hero {
  /* background-color: blue; */
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  position: relative;
 /* background-image:
    radial-gradient(circle at center,
      rgba(37, 37, 37, 0.8) 0%,
      rgba(43, 42, 42, 0.9) 60%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url(./images/photo_2025-06-06_12-08-49.jpg);  background-size: cover;
  background-repeat: no-repeat; */

  /* max-width: 1440px; */
}
.hero >*{
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */
    backdrop-filter: blur(0px);
    cursor:none;

}
.hero-section--1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.hero-section--1 > * {
  /* display: flex; */
  /* background-color: aqua; */
  /* align-items: flex-start; */
  /* /* margin-left: 30px; */
  margin-bottom: 30px;
}
.hero-section--1 > :nth-child(1) {
  align-items: flex-end;
  /* background-color: pink; */
}
.hero-section--1 > :nth-child(3) {
  /* background: #000; */
  width: fit-content;
}
.hero-section--1 > :nth-child(2) {
  max-width: 600px;
}
.hero-title {
  font-size: 63px;
  height: 60px;
}
.hero-sub-title {
  font-size: 22px;
  line-height: 1.3;
}
.hero-section--2 {
    align-items: center;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  /* background-color: antiquewhite; */
}
.scroll-section{
    text-align: center;
    font-size: 28px;
    padding-bottom: 22px;
    /* animation: scroll 2s ease-in-out infinite; */
    display: none;
    justify-content: space-evenly;
}
.scroll-section-item{
    /* border: 1px solid var(--parchment); */
    padding: 10px;
    border-radius: 10px;
}
.scroll-text{
    transform: translateY(-20px);
    /* transition: all 1s linear; */
    /* border: 1px solid var(--rich-black); */
    
}
/* @keyframes scroll{
    from{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    to{
      transform: translateY(0px);
    }
} */