@media (max-width: 800px) {
  header {
    height: 100vh !important;
    /* background-color: aquamarine; */
  }
  .animated-pointer{
    display: none !important;
  }
  .hero {
    grid-template-columns: 1fr;
    cursor: pointer;
  }
  .hero>*{
    cursor: default !important;
  }
  header > nav {
    padding: 0 !important;
  }
  nav.navigation {
    flex-direction: column;
    justify-content: space-between;
    /* padding: 25px 20px; */
    height: fit-content;

    /* background-color: rgb(114, 26, 26); */
  }
  nav.navigation > div {
    padding-top: 10px;
  }

  .image {
    display: none;
  }
  nav ul li {
    display: inline;
    padding-right: 12px;
  }
  .main-sections-section--2.exception {
    /* display: none !important; */
    /* grid-template-rows: repeat(3,1fr) !important; */
    /* background-color: rgb(214, 121, 0); */
    display: flex;
    flex-direction: column;
  }
  .navigation-section--2 {
    /* background-color: #fff; */
    padding: 10px 20px;
    font-size: 14px;
  }
  .hero-title {
    font-size: 36px !important;
    white-space: wrap;
    /* min-height: 50px; */
    display: flex;
    min-height:50px;
    height: fit-content !important;
/* background-color: aliceblue;     */
  
  }

  .hero-sub-title{
    font-size: 20px !important;
  }
  .main-sections-section--2.about {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
  .main-sections-section--2.about > * {
    width: fit-content;
  }
  .coding-snippet-container {
    width: calc(100vw - 50px);
  }
  .main-sections.about{
    display: flex;
    flex-direction: column;
   
  }
  .scroll-section{
    animation:scrl 12s linear infinite !important;
  }
  .scroll-section >*{
    font-size: 16px;
    white-space: nowrap;
  }
  .main-sections{
    display: block !important;
  }
  @keyframes scrl{
    from{
      transform: translateX(100vw);
    }
    to{
      transform: translateX(-126vw);
  
    }
  }
  .main-sections-section--2-col--1{
    display: grid !important;
    /* gap: 30px; */
    /* grid-auto-rows: 1fr; */
  }
}
